h1 {
  text-align: center;
  font-weight: 900;
  margin: 20px 0px 20px 0px;
  font-size: 34px;
  line-height: 48px;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}
.top {
  list-style: none;
  width: 600px;
  padding: 10px 0;
  margin: 0 auto;
  height: 300px;
  border: 2px solid #72beee;
  border-radius: 50px 50px 0px 0px;
  text-align: center;
  background: #72beee;
  color: white;
  text-decoration: none;
}
.row {
  text-align: center;
  margin: 20px 0px 30px 0px;
  color: white;
  font-weight: 600px;
}

.link {
  color: white;
}

form {
  text-align: center;
  margin: 30px;
  font-size: 15px;
}
input[type="text"] {
  width: 300px;
}
.location {
  font-weight: 500;
  font-size: 22px;
  margin-left: 20px;
}
.date {
  font-weight: 500;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 5px;
  line-height: 0px;
}
#todayIcon {
  max-width: 100%;
  max-height: auto;
  margin: 0px auto;
}
.weather {
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
}
.temperature {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: white;
  cursor: default;
}
.extra {
  font-size: 15px;
  font-weight: 600px;
  line-height: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
}
span {
  display: inline-block;
}

.humidity {
  padding: 0px 30px;
}
.bottom {
  list-style: none;
  width: 600px;
  list-style: none;
  padding: 10px 0;
  margin: 0 auto;
  height: 200px;
  border: 2px solid #edebe9;
  border-radius: 0px 0px 50px 50px;
  text-align: center;
  background: #edebe9;
}
.card {
  background: #edebe9;
  border: none;
  height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 10px auto;
}
.card-title {
  font-size: 15px;
  font-weight: 600;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: auto;
}
.github-link {
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .h1 {
    padding-left: 50%;
  }
  .top {
    width: 90%;
    height: 200%;
  }
  #search-input {
    display: inline;
    margin-left: 0px;
  }

  input[type="text"] {
    width: 50%;
  }

  #search {
    display: inline-block;
  }
  #current {
    display: inline-block;
  }
  #todayIcon {
    max-height: 100%;
    padding-top: 20px;
  }

  .extra {
    display: inline;
  }
  .humidity {
    padding: 0px 5px;
  }
  .bottom {
    width: 90%;
    height: 800%;
  }
  .card {
    height: 200px;
  }
  .card-img-top {
    max-width: 30%;
    max-height: auto;
  }
}
