h1 {
  text-align: center;
  font-weight: 900;
  margin: 20px 0px 50px 0px;
  font-size: 34px;
  line-height: 48px;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}
.top {
  list-style: none;
  width: 600px;
  padding: 10px 0;
  margin: 0 auto;
  height: 300px;
  border: 2px solid #72beee;
  border-radius: 50px 50px 0px 0px;
  text-align: center;
  background: #72beee;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 10px 10px 84px -8px rgba(114, 190, 238, 0.7);
  -moz-box-shadow: 10px 10px 84px -8px rgba(114, 190, 238, 0.7);
  box-shadow: 10px 10px 84px -8px rgba(114, 190, 238, 0.7);
}

.row {
  text-align: center;
  margin: 20px 0px 30px 0px;
  color: white;
  font-weight: 600;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

form {
  text-align: center;
  margin: 30px;
  font-size: 15px;
}
input[type="text"] {
  width: 300px;
}
.location {
  font-weight: 500;
  font-size: 28px;
  margin-left: 20px;
}
.date {
  font-weight: 300;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 20px;
  line-height: 0px;
  opacity: 0.8;
}
#todayIcon {
  max-width: 100%;
  max-height: auto;
  margin: 5px 5px 5px 5px;
  object-fit: fill;
}
.weather {
  font-size: 24px;
  line-height: 18px;
  text-transform: capitalize;
}
.description {
  font-weight: 500;
}
.temperature {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
  opacity: 0.8;
}
.active:hover {
  text-decoration: none;
  color: white;
  cursor: default;
}
.extra {
  font-size: 15px;
  font-weight: 300;
  opacity: 0.8;
  line-height: 0px;
  color: #ffffff;
  text-align: center;
  margin: 0px 0px 20px 0px;
}
span {
  display: inline-block;
}

.humidity {
  padding: 0px 10px 0px 0px;
}

.bottom {
  width: 600px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: 180px;
  border: 2px solid #edebe9;
  border-radius: 0px 0px 50px 50px;
  text-align: center;
  background: #edebe9;
  color: black;
  -webkit-box-shadow: 10px 10px 84px -8px rgba(114, 190, 238, 0.7);
  -moz-box-shadow: 10px 10px 84px -8px rgba(114, 190, 238, 0.7);
  box-shadow: 10px 10px 84px -8px rgba(114, 190, 238, 0.7);
}

#forecast {
  background: #edebe9;
  border: none;
  height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.card-title {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
  color: black;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: auto;
}
.card-text {
  opacity: 0.8;
  color: black;
  margin-top: 10px;
  font-size: 15px;
}
.weather-temp-min {
  margin-left: 10px;
  opacity: 0.6;
  font-weight: 400;
}
.github-link {
  text-align: center;
  font-size: 15px;
  margin: 50px auto;
  opacity: 0.8;
}

body {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
@media only screen and (max-width: 800px) {
  .h1 {
    padding-left: 50%;
  }
  .top {
    width: 90%;
    height: 200%;
  }

  input[type="text"] {
    width: 300px;
    margin-top: 20px;
  }
  #search-input {
    display: inline;
    margin-left: 20px;
  }

  input[type="text"] {
    width: 50%;
  }

  #search {
    display: inline-block;
  }
  #current {
    display: inline-block;
  }
  #todayIcon {
    max-height: 100%;
    padding-top: 30px;
  }

  .extra {
    display: inline;
  }
  .humidity {
    padding: 0px 10px 0px 0px;
  }
  .bottom {
    width: 90%;
    height: 100%;
  }
  #forecast {
    height: 100%;
  }
  .card-img-top {
    max-width: 30%;
    max-height: auto;
  }
}
